<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Match with an opponent's supporter!</h2>
                <hr class="light">
                <p class="text-faded">Offset your vote today!  Why head to a polling location when you can simply find an opposing voter to counter-act?  Both would-be voters save precious time by willingly disenfranchising.</p>
                <hr class="light">

                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                    #mc_embed_signup{background:#002868; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                <form action="//standerorsitter.us12.list-manage.com/subscribe/post?u=fc979bad3f01caae94a9680cf&amp;id=efeaa83e4d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL" style="color:white; font-size:24px; font-weight:normal;">Want to be notified when we launch?</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fc979bad3f01caae94a9680cf_efeaa83e4d" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color:#BF0A30;"></div>
                    </div>
                </form>
                </div>

                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>
</section>
